body{
  background-color: rgba(255, 132, 132, 0.803);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.App{
  display: flex;
  flex-direction: column;
align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 5px;
  background-color: rgba(255, 106, 106, 0.803);
  height: 449px;
  width: 243px;
}
input{
  width: 243px;
    background-color: rgba(255, 106, 106, 0.803);
      border-radius: 8px;
      border: none;
      height: 25px;
}
input:focus {
  outline:none;
}
.AppDetailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 5px;
  background-color: rgba(255, 106, 106, 0.803);
  height: 649px;
  width: 443px;
}